@import '../variables/variables';

$gap2: 2rem;
$height3: 3rem;
$font-size2: 2rem;
$padding1: 1rem;

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--background);
  overflow: hidden;

  &__header {
    display: flex;
    padding: $padding1 $padding1;
    font-size: $font-size2;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    align-items: center;
    background-color: var(--primary);
    cursor: pointer;

    .header__logo-text {
      color: var(--secondary);
    }

    .header__logo {
      height: $height3;
      width: auto;
    }
  }

  &__wrapper {
    display: flex;
    height: auto;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    overflow: auto;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding05;
    background-color: var(--primary);
  }
}
