@import '../../../variables/variables';
@import '../../../variables/mixins';

$font-size-title-custom: 5rem;
$font-size-icon-custom: 3rem;

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $font-size-title-custom;
    gap: $gap-default;
    margin-bottom: $margin-large;

    &-icon {
      height: auto;
      width: auto;
      font-size: $font-size-icon-custom;
    }
  }

  &__info {
    font-size: $font-size-default;

    @include MS {
      width: 80%;
      text-align: center;
    }
  }
}
