@import '../../variables/variables';

.dropdown {
  border: $border-style;
  font-size: $font-size1;
  border-radius: $border-radius1;
  padding: $padding04;
  outline: none;
  background-color: var(--background);
}
