@import 'variables/material.variables';
$scroller-width: 0.5rem;

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
  font-weight: normal;
  color: var(--text);
  font-family: Roboto, sans-serif;
  background-color: var(--background);
}

app-root {
  display: flex;
  flex-direction: column;
  --text: #45484f;
  --background: #fcfaff;
  --primary: #d6e2ff;
  --secondary: #005dba;
  --accent: #e1e3ed;
  --error: #ffa500ff;
}

app-employee,
app-project-page,
app-home-page {
  display: flex;
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: $scroller-width;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
