@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;wght@700&display=swap");

html,
body,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
  font-weight: 400;
  color: var(--text);
  font-family: Poppins, sans-serif;
  background-color: var(--background);
}

app-root {
  display: flex;
  flex-direction: column;
  --text: #101511;
  --background: #f5f8f5;
  --primary: #5da267;
  --secondary: #a3d1a9;
  --accent: #7dc788;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.bold {
  font-weight: 700;
}
