@import '../../../../variables/variables';

.messages {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: $gap-large;

  &__title {
    font-size: $font-size-large;
  }

  &__button {
    font-size: $font-size-default;
    padding: $padding-x-small;
    border-radius: $border-radius-small;
  }
}
