@import '../../../variables/variables';

$width-custom: 1.2rem;
$height-custom: 3.5rem;
$padding-top-custom: 0.5rem;
$m-custom: 4.6rem;
$m-list-custom: 0 0 1rem 0;

.list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: start;
  margin-top: $m-large;

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    height: auto;
    padding-bottom: $padding-small;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: $font-size-medium;
    justify-content: center;
  }

  &__search-add {
    display: flex;
    flex-direction: row;
    gap: $gap-small;
    margin-left: $m-custom;
  }

  &__search {
    font-size: $font-size-default;
    font-family: Poppins, sans-serif !important;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-small;
    width: $width-small;
    height: $height-custom;
    padding: $padding-x-small;

    &.selected {
      background-color: var(--primary) !important;
    }
  }

  &__add-icon {
    width: $width-custom;
    padding-top: $padding-top-custom;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: $gap-small;
    margin: $m-list-custom;
  }

  &__list-element {
    display: flex;
    justify-content: center;
    gap: $gap-small;
  }

  &__list-button {
    font-size: $font-size-default;
    border-radius: $border-radius-small;
    width: $width-default;
    padding: $padding-x-small;

    &.selected {
      background-color: var(--primary) !important;
    }
  }
}
