@import '../../../variables/variables';

$width-add-icon-custom: 1.2rem;
$height-add-button-custom: 3.5rem;
$padding-top-add-icon-custom: 0.5rem;
$margin-search-custom: 4.6rem;
$margin-list-custom: 0 0 1rem 0;

.list {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  margin-top: $margin-large;
  margin-bottom: $margin-default;

  &__loader {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: $padding-small;
    box-sizing: border-box;
    font-size: $font-size-large;
    justify-content: center;
  }

  &__search-add {
    display: flex;
    flex-direction: row;
    gap: $gap-small;
    margin-left: $margin-search-custom;
  }

  &__search {
    font-size: $font-size-default;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-small;
    width: $width-small;
    height: $height-add-button-custom;
    padding: $padding-x-small;
  }

  &__add-icon {
    width: $width-add-icon-custom;
    padding-top: $padding-top-add-icon-custom;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: $gap-small;
    margin: $margin-list-custom;
  }

  &__list-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap-small;
  }

  &__list-button {
    height: 3.5rem;
    font-size: $font-size-default;
    border-radius: $border-radius-small;
    width: $width-default;
    padding: $padding-x-small;
  }
}
