<section class="change-password">
  <form [formGroup]="passwordForm">
    <mat-card class="change-password__content" appearance="outlined">
      <mat-card-header class="change-password__header">
        <mat-card-title class="change-password__header-title">
          {{ 'change-password.title' | translate }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="change-password__details">
        <mat-form-field class="change-password__input">
          <mat-label>{{ 'change-password.current-password' | translate }}</mat-label>
          <input
            matInput
            [formControl]="currentPasswordControl"
            type="password"
            autocomplete="on"
            placeholder="{{ 'input.placeholder.current-password' | translate }}"
            [type]="hideCurrent ? 'password' : 'text'" />
          <mat-icon matSuffix (click)="hideCurrent = !hideCurrent">{{ hideCurrent ? 'visibility_off' : 'visibility' }}</mat-icon>
          @if (currentPasswordControl.hasError('required') && !currentPasswordControl.untouched) {
            <mat-error class="change-password__error-message">{{ 'error.currentPassword.required' | translate }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="change-password__input">
          <mat-label>{{ 'change-password.new-password' | translate }}</mat-label>
          <input
            matInput
            [formControl]="newPasswordControl"
            type="password"
            autocomplete="on"
            placeholder="{{ 'input.placeholder.new-password' | translate }}"
            [type]="hideNew ? 'password' : 'text'" />
          <mat-icon matSuffix (click)="hideNew = !hideNew">{{ hideNew ? 'visibility_off' : 'visibility' }}</mat-icon>
          @if (newPasswordControl.hasError('required') && !newPasswordControl.untouched) {
            <mat-error class="change-password__error-message">{{ 'error.newPassword.required' | translate }}</mat-error>
          } @else if (newPasswordControl.hasError('minlength')) {
            <mat-error class="change-password__error-message">{{ 'error.newPassword.minLength' | translate }}</mat-error>
          } @else if (newPasswordControl.hasError('maxlength')) {
            <mat-error class="change-password__error-message">{{ 'error.newPassword.maxLength' | translate }}</mat-error>
          } @else if (newPasswordControl.hasError('hasUpperCase')) {
            <mat-error class="change-password__error-message">{{ 'error.newPassword.noUpperCase' | translate }}</mat-error>
          } @else if (newPasswordControl.hasError('hasLowerCase')) {
            <mat-error class="change-password__error-message">{{ 'error.newPassword.noLowerCase' | translate }}</mat-error>
          } @else if (newPasswordControl.hasError('hasDigit')) {
            <mat-error class="change-password__error-message">{{ 'error.newPassword.noDigit' | translate }}</mat-error>
          } @else if (newPasswordControl.hasError('hasWhiteSpace')) {
            <mat-error class="change-password__error-message">{{ 'error.newPassword.hasWhiteSpace' | translate }}</mat-error>
          } @else {
            <mat-hint>{{ 'input.hint.password' | translate }}</mat-hint>
          }
        </mat-form-field>
        <mat-card-actions class="change-password__button">
          <button mat-flat-button type="submit" class="change-password__button-submit" (click)="onPasswordChange()">
            {{ 'button.proceed' | translate }}
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</section>
