@import '../../variables/variables';

$border-radius05: 0.5rem;

.project {
  display: flex;
  flex-direction: row;
  border: $border-style;
  border-radius: $border-radius1;
  padding: $padding04;
  gap: $gap05;
  user-select: none;
  cursor: pointer;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border-style;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: var(--background);
    transition: background-color 0.2s ease-in;
  }

  &__button:hover {
    background-color: var(--accent);
  }
}
