@import '../../../variables/variables';

$margin-bottom-title-custom: 0.5rem;

.employee {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-top: $margin-large;
  margin-bottom: $margin-large;
  position: relative;

  &__button-back {
    position: absolute;
    left: 10rem;
    top: 5rem;
    height: 3.5rem;
    font-size: $font-size-default;
    border-radius: $border-radius-small;
    width: $width-default;
    padding: $padding-x-small;
  }

  &__content {
    border-radius: $border-radius-default;
    padding: $padding-large;
    width: $width-x-large;
    align-items: center;
  }

  &__header {
    margin-bottom: $margin-default;

    &-title {
      font-size: $font-size-large;
      margin-bottom: $margin-bottom-title-custom;
    }

    &-subtitle {
      display: flex;
      justify-content: center;
      color: $text-color;
      font-size: $font-size-medium;
    }
  }

  &__details {
    width: 100%;
    padding-bottom: $padding-small;
  }

  &__input {
    margin-top: $margin-default;
    width: 100%;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    &-submit {
      font-size: $font-size-default;
      padding: $padding-x-small;
      border-radius: $border-radius-small;
    }
  }

  &__error-message {
    color: $error-color;
  }
}
