@import '../../variables/variables';

.employee__component {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  margin-bottom: $m2;

  .employee {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius1;
    padding: $padding2;
    width: $max-width24;
    background-color: var(--background);
    box-shadow: $shadow;

    &__title {
      display: flex;
      flex-direction: row;
      gap: $gap1;
      font-weight: bold;
      height: auto;
      padding-bottom: $padding1_2;
      flex-grow: 1;
      box-sizing: border-box;
      font-size: $font-size1_5;
      justify-content: center;
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: $gap05;
      height: auto;
      width: 100%;
      flex-grow: 1;
      padding-bottom: $padding05;
      box-sizing: border-box;
      font-size: $font-size1;
    }

    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $gap05;
      flex-wrap: wrap;
    }

    &__column {
      display: flex;
      flex-direction: column;
      gap: $gap05;
    }

    &__label {
      font-weight: bold;
    }

    &__details-input {
      border: $border-style;
      border-radius: $border-radius03;
      font-size: $font-size1;
      outline: none;
      font-family: Poppins, sans-serif;
      background-color: var(--background);
      border-color: var(--text);
      padding: $padding04;
      transition: background-color $time ease-in;
    }

    &__details-input:focus {
      background-color: var(--secondary);
    }

    &__button {
      background-color: var(--background);
      cursor: pointer;
      font-size: $font-size1;
      padding: $padding04;
      outline: none;
      border: $border-style;
      border-radius: $border-radius03;
      transition: background-color $time ease-in;
    }

    &__button:hover {
      background-color: var(--secondary);
    }

    &__error-message {
      color: orange;
    }
  }
}
