@import '../../../../../variables/variables';

$height-back-button-custom: 3.5rem;
$top-back-button-custom: -1rem;
$width-content-small-device-custom: 20rem;

@mixin respond-small {
  @media (max-width: 32.5rem) {
    @content;
  }
}

.project__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  margin-top: $margin-large;
  margin-bottom: $margin-large;

  &-button {
    right: 30%;
    top: $top-back-button-custom;
    height: $height-back-button-custom;
    font-size: $font-size-default;
    border-radius: $border-radius-small;
    width: $width-default;
    padding: $padding-x-small;
  }

  &-card {
    width: $width-x-large;
    padding: $padding-large;
    border-radius: $border-radius-default;

    @include respond-small {
      width: $width-content-small-device-custom;
    }
  }

  &-header {
    display: flex;
    padding-bottom: $padding-medium;
    font-size: $font-size-large;
    justify-content: center;
  }

  &-content {
    font-size: $font-size-default;
    text-align: justify;
  }
}
