<section class="project__details">
  <button mat-raised-button class="project__details-button" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
    <span>{{ 'button.back' | translate }}</span>
  </button>
  <mat-card class="project__details-card" appearance="outlined">
    @if (isLoadingProject) {
      <mat-card-content class="project__details__no-data">
        <mat-spinner></mat-spinner>
      </mat-card-content>
    } @else {
      @if (isProjectMissing) {
        <mat-card-content class="project__details__no-data">{{ 'project.missing' | translate: { id: idNotFound } }}</mat-card-content>
      } @else {
        <mat-card-header class="project__details-header">
          <p>{{ project?.name }}</p>
        </mat-card-header>
        <mat-card-content class="project__details-content">
          <p>{{ 'project.' + (project?.name | lowercase) | translate }}</p>
        </mat-card-content>
      }
    }
  </mat-card>
</section>
