@import '../../../../../variables/variables';

.project__details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: $margin-large;
  margin-bottom: $margin-large;

  &-card {
    width: 40%;
    padding: $padding-large;
    border-radius: $border-radius-default;
  }

  &-header {
    display: flex;
    padding-bottom: $padding-medium;
    font-size: $font-size-large;
    justify-content: center;
  }

  &-content {
    font-size: $font-size-default;
    text-align: justify;
  }
}
