<section class="project__details">
  <mat-card class="project__details-card" appearance="outlined">
    @for (singleProject of projects; track singleProject) {
      @if (singleProject === project) {
        <mat-card-header class="project__details-header">
          <p>{{ project }}</p>
        </mat-card-header>
        <mat-card-content class="project__details-content">
          <p>{{ 'project.' + (singleProject | lowercase) | translate }}</p>
        </mat-card-content>
      }
    }
  </mat-card>
</section>
