@import '../variables/variables';

.lang__selected {
  .mat-mdc-menu-item-text {
    color: $secondary-color;
  }
}

.lang__unselected {
  .mat-mdc-menu-item-text {
    color: $text-color;
  }
}

.mat-bottom-sheet-container::-webkit-scrollbar {
  display: none;
}
