$gap05: 0.5rem;
$gap1: 1rem;
$border-style: 0.0625rem, solid;
$border-radius03: 0.3rem;
$border-radius1: 1rem;
$shadow: 0.375rem 0.375rem 1.5rem 0 rgba(66, 68, 90, 1);
$font-size1: 1rem;
$font-size1_5: 1.5rem;
$padding04: 0.4rem;
$padding05: 0.5rem;
$padding2: 2rem;
$padding1_2: 1.2rem;
$min-width20: 20rem;
$max-width24: 24rem;
$width10: 10rem;
$time: 0.2s;
$m2: 2rem;
