<section class="dashboard">
  <div class="dashboard__content">
    <div class="dashboard__title">
      <p>{{ 'navbar.dashboard' | translate | uppercase }}</p>
    </div>
    @if (isLoading) {
      <mat-spinner></mat-spinner>
    } @else {
      <ul class="dashboard__list">
        @for (employee of employees; track employee) {
          <li class="dashboard__list-element">
            <button
              mat-raised-button
              class="dashboard__list-button"
              type="button"
              (click)="onSelect(employee)"
              routerLink="/{{ Paths.EMPLOYEE }}/{{ employee.id }}">
              <span>{{ employee.name }} {{ employee.surname }}</span>
            </button>
          </li>
        }
      </ul>
    }
  </div>
</section>
