<section class="dashboard">
  <div class="dashboard__content">
    <div class="dashboard__title">
      <p>{{ 'navbar.dashboard' | translate | uppercase }}</p>
    </div>
    @if (isLoadingEmployees) {
      <div class="dashboard__loader">
        <mat-spinner></mat-spinner>
      </div>
    } @else {
      <ul class="dashboard__list">
        @for (employee of employees; track employee.id) {
          <li class="dashboard__list-element">
            <div [matTooltip]="(isUserPresent ? 'tooltip.access-employee' : '') | translate" matTooltipPosition="below" [matTooltipShowDelay]="1000">
              <button
                mat-raised-button
                class="dashboard__list-button"
                type="button"
                (click)="onSelect(employee)"
                routerLink="/{{ Paths.EMPLOYEE }}/{{ employee.id }}"
                [disabled]="isUserPresent">
                <span>{{ employee.name }} {{ employee.surname }}</span>
              </button>
            </div>
          </li>
        }
      </ul>
    }
  </div>
</section>
