<div class="language">
  <button mat-icon-button class="language__icon" type="button" [matMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @for (language of languages; track language) {
      <button
        mat-menu-item
        class="language__lang"
        type="button"
        (click)="switchLang(language)"
        [ngClass]="checkCurrentLang(language) ? 'lang__selected' : 'lang__unselected'">
        {{ language | uppercase }}
      </button>
    }
  </mat-menu>
</div>
