@import '../../../../../variables/variables';

.project {
  display: flex;
  flex-direction: row;
  border: $border-style-default;
  border-radius: $border-radius-default;
  padding: $padding-x-small;
  gap: $gap-small;
  user-select: none;
  cursor: pointer;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: $border-style-default;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color: var(--background);
    transition: background-color $transition-time-default ease-in;

    &:hover {
      background-color: var(--accent);
    }
  }
}
